/*
Color palette (lighter to darker)
cad2c5
84a98c
52796f
354f52
2f3e46

for text and outline and stuff
f7e1d7 light beige
edafb8 light pink
*/


body {
    background-color: #2f3e46; 
}

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    /* font-weight: ; */
    font-style: normal;
    font-size: 24px;
    /* font-variation-settings:
        "wdth" 100; */
    color: #f7e1d7;

    margin: 0;
}

.title {
    font-size: 60px;
    font-weight: bold;
}




a:visited, a:link {
  color: #84a98c;
}

/* mouse over link */
a:hover {
  color: #f7e1d7;
}