/*
Color palette (lighter to darker)
cad2c5
84a98c
52796f
354f52
2f3e46

for text and outline and stuff
f7e1d7 light beige
edafb8 light pink
*/


body {
    background-color: #2f3e46; 
}

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    /* font-weight: ; */
    font-style: normal;
    font-size: 24px;
    /* font-variation-settings:
        "wdth" 100; */
    color: #f7e1d7;

    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.my-pic {
    width: 25%;
    height: 25%;

    outline: 1px;
    outline-style: solid;
    outline-color: #f7e1d7;

    border-radius: 10px;
}

.bio {
    text-align: center;
    line-height: 1.5
}

a:visited, a:link {
  color: #84a98c;
}

/* mouse over link */
a:hover {
  color: #f7e1d7;
}